@use '@/styles/variables.scss' as *;

.inputWrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  .inputLabel {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .inputText {
    color: $text-color-primary;
    font-size: 18px;
    line-height: normal;
    padding: 19px 20px;
    border-radius: 5px;
    background: $bg-color-primary;
  }

  .inputTextError {
    color: $text-color-accent;
  }

  .inputError {
    color: $text-color-accent;
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 12px;
    line-height: 14px;
  }
}