@use '@/styles/variables.scss' as *;

.course {
  background-color: $bg-color-accent;
  background-image: url('./images/percent.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  color: $text-color-secondary;
  padding: 87px 0;

  .wrapper {
    display: flex;
    justify-content: center;
    padding: 0 55px;
    gap: 64px;

    .text {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 20px;

      .title {
        font-size: 36px;
        font-weight: 600;
        line-height: 1.4;
      }

      .description {
        font-size: 20px;
      }
    }

    .contactForm {
      max-width: 500px;
    }
  }
}

@media (max-width: 768px) {
  .course {
    background-image: none;
    padding: 40px 0;

    .wrapper {
      gap: 40px;
      padding: 0 10px;
      flex-wrap: wrap;

      .text {
        margin-top: 0;
        text-align: center;

        .title {
          font-size: 30px;
        }

        .description {
          font-size: 16px;
        }
      }
    }
  }
}
