@use '@/styles/variables.scss' as *;

.benefitItem {
  display: block;

  .benefitHeader {
    display: block;
  }

  .benefitTitle {
    display: block;
  }

  .benefitDescription {
    display: block;
  }

}