@use '@/styles/variables.scss' as *;

.benefitItem {
  flex-basis: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .benefitHeader {
    position: relative;
    width: max-content;
  }

  .benefitTitle {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
  }

  .benefitDescription {
    font-size: 18px;
    color: $text-color-tertiary;
  }
}

@media (max-width: 1024px) {
  .benefitItem {
    align-items: center;

    .benefitTitle {
      font-size: 20px;
    }
  }
}