@use '@/styles/variables.scss' as *;
.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .backdrop{
    position: absolute;
    inset: 0;
    background-color: $bg-color-tertiary;
    opacity: .1;
  }

  .content{
    position: relative;
    background-color: $bg-color-primary;
    border-radius: 20px;
    padding: 40px;
    overflow: auto;
    max-width: 940px;
    max-height: 768px;
    z-index: 1;
  }

  .close{
    position: absolute;
    top: 40px;
    right: 40px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: $text-color-tertiary;
  }
}