@use '@/styles/variables.scss' as *;

.teachers {
  padding-bottom: 0;
  overflow: hidden;

  .wrapper {
    .title {
      font-size: 50px;
      font-weight: 600;
    }
    .content {
      margin-top: 60px;

      .slider {
        overflow: visible;

        .slide{
          width: max-content;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .teachers {
    padding: 60px 0 0 0;
    .wrapper {
      .title {
        text-align: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .teachers {
    padding-top: 40px;
    .wrapper {
      .title {
        font-size: 30px;
      }
      .content {
        margin-top: 40px;
      }
    }
  }
}
