@use '@/styles/variables.scss' as *;

.teachers {
  padding-bottom: 0;

  .title {
    font-size: 50px;
    font-weight: 600;
  }

  .slider {
    margin-top: 60px;

    .slide {
      width: max-content;
    }
  }

  .sliderControllers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;

    .scrollbar {
      width: 100%;
      max-width: 360px;
      height: 5px;
      border-radius: 40px;
      background: $bg-color-quaternary;

      .scrollbarDrag {
        border-radius: 40px;
        background: $bg-color-tertiary;
        height: 5px;
        transition: opacity 0.3s ease;
        cursor: grab;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .buttons {
      display: flex;
      gap: 15px;
      transition: opacity 0.3s ease;

      .button {
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .teachers {
    padding: 60px 0 0 0;

    .title {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .teachers {
    padding-top: 40px;

    .title {
      font-size: 30px;
    }

    .slider {
      margin-top: 40px;
      margin-left: -10px;
      margin-right: -10px;
      padding: 0 10px;
    }

    .sliderControllers {
      .scrollbar {
        max-width: 100%;
      }
    }
  }
}
